{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<td style="padding:10px;;vertical-align:middle;border:0px;border-spacing:0px;">
  <div style="max-width:240px;max-height:240px;overflow: hidden;display: block;margin-left: auto;margin-right: auto;">
    <span style="display: inline-block; vertical-align: middle;"></span>
    <img src="{{ post.imgurl | prepend: '/images/' }}">
  </div>
</td>

