{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<tr style="height: 200px;">
  <td style="padding:10px;width:30%;vertical-align:middle;border:0px;border-spacing:0px;">
    <div class="pub" style="max-width:240px;max-height:240px;overflow: hidden;display: block;margin-left: auto;margin-right: auto;">
      <span style="display: inline-block; vertical-align: middle;"></span>
      <a href="{{ post.link }}" target="_blank"><img src="{{ post.imgurl | prepend: '/images/' }}"></a>
    </div>
  </td>
  <td style="padding:0px;width:70%;vertical-align:middle;border:0px;border-spacing:0px;font-size: 1.2em;">
    <h3>{{post.title}}</h3>
    {% if post.terms %}
      {% for term in post.terms %}
        <h6 style="color:#7a8288;margin:0;padding:0;">term </h6>
      {% endfor %}
    {% endif %}
    {% if post.end == "Present" %}
      <h6 style="color:#7a8288;margin:0;padding:0;">{{post.start | date: "%B %Y"}} - Present</h6>
    {% else %}
      <h6 style="color:#7a8288;margin:0;padding:0;">{{post.start | date: "%B %Y"}} - {{post.end | date: "%B %Y"}}</h6>
    {% endif %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.description | markdownify }}</p>
  </td>
</tr>

